# Build folder
**/build-*

# Temporary Project file
*.pro.user

# Compiled Language files
*.qm

# Windows executable
*.exe

# Windows Dynamic-link library
*.dll

# lib files
**/lib*

# Binary AppImage files
**/*.AppImage

# Bin
ff*
streamcapture2
install*
svtplay-dl

# compressed files
*.zip

# DevC++
*.o
*.win
*.dev
*.layout

