# Build folder
**/build-*

# Temporary Project file
*.pro.user

# Compiled Language files
*.qm

# Windows executable
*.exe

# Windows Dynamic-link library
*.dll

# lib files
**/lib*

# compressed files
*.zip